rules:
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\McpToolResponseRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\ScheduledTaskTooLowIntervalRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\RuleAreasFlagNotAllowedRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\RuleConditionHasRuleConfigRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\NoFlowStoreFunctionRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\NoUnserializeUsageRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\NoEnvironmentHelperInsideCompilerPassRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\NoFileExistsRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\NoSuperGlobalsInsideCompilerPassRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\NoDALAutoload
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\DALFieldsMustBeRegisteredWithSchemaBuilder
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\RouteScopeRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\MessagesShouldNotUsePHPStanTypes
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\UseCLIContextRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\NoUnconfiguredMetricAllowed
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\UseHasherRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\PropertyNativeTypeRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\NoManualChannelContextCreationRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\NoDelayStampRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\NoAddCacheTagEventRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\NoUpdatesInExecuteQueryRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\NoUnsafeRequestHasSessionRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\NoConstraintViolationGetMessageRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\NoLegacySqlHashFunctionRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\PublicServiceDecoratorRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\NoRouteOverrideInDecoratorsRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\Tests\AssertEqualsCanonicalizingListArgumentRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\Tests\CoversAttributeRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\Tests\DataProviderRowArityRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\Tests\MockingSimpleObjectsNotAllowedRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\Tests\NoAnyInvocationMatcherRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\Tests\NoCreateMockWithoutExpectationsRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\Tests\NoAssertEqualsOnClosureRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\Tests\NoAssertsOnObjectsRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\Tests\NoDependsWithDataProviderRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\Tests\NoExpectExceptionMessageRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\Tests\NoMockBuilderConstructorBypassRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\Tests\PHPUnitClassAttributesOverAnnotationsRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\Tests\PHPUnitMethodAttributesOverAnnotationsRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\NoNativeTimeFunctionRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\NoNativeTimeClassRule
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\CodeCoverageIgnoreEvaluationRule

    # rules from https://github.com/symplify/phpstan-rules
    # domain
    - Symplify\PHPStanRules\Rules\Enum\RequireUniqueEnumConstantRule
    - Symplify\PHPStanRules\Rules\PreventParentMethodVisibilityOverrideRule

    # explicit naming
    - Symplify\PHPStanRules\Rules\ForbiddenMultipleClassLikeInOneFileRule

    - Symplify\PHPStanRules\Rules\Complexity\ForbiddenArrayMethodCallRule

    # naming rules
    - Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\Symplify\NoReturnSetterMethodWithFluentSettersRule
    - Symplify\PHPStanRules\Rules\UppercaseConstantRule

services:
    -
        class: Contena\Core\DevOps\StaticAnalyze\PHPStan\Rules\NotExtendFlowEventAwareRule
        tags:
            - phpat.test

    - # register the class, so we can decorate it, but don't tag it as a rule, so only our decorator is used by PHPStan
        class: Symplify\PHPStanRules\Rules\NoReturnSetterMethodRule
